<div class="ml-4rem">
    <div class="title-container">
        <p class="page-title po-font-title">Bem vindo ao Site sobre Carros</p>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yauEp949Bew?si=tP_rBIR91-DfaEBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <section class="about-container po-font-text">
        <p>Olá, entusiasta de Carros! Bem-vindo !"</p>

        <p>Explore nosso site utilizando o menu ao lado. Temos seções dedicadas a marcas de carros e tambem a tabela Fipe dos mesmos </p>

        <p>Fique à vontade para navegar e descobrir o que há de mais emocionante no mundo de Carros. Se precisar de
            ajuda, o menu lateral está lá para guiá-lo em sua jornada.</p>

        <p>Divirta-se explorando !</p>
    </section>
</div>